<!DOCTYPE html>
<html lang="en">
<head>
<title>Attendance Management</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="css/uniform.css" />
<link rel="stylesheet" href="css/select2.css" />
<link rel="stylesheet" href="css/matrix-style.css" />
<link rel="stylesheet" href="css/matrix-media.css" />
<link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

<link href='https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/dialogbox.css" />


<link rel="stylesheet" href="css/loader.css" />

</head>
<body >

<!--Header-part-->
<div >
  <h1 id="header" style="background-image: url('img/logo.png'); background-repeat: no-repeat"><a href="departmentDashboard" ></a></h1>
</div>
<!--close-Header-part--> 
<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Welcome User</span></a>
      
    </li>
    
    <li class=""><a title="" href="login.html"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
  </ul>
</div>


<!--sidebar-menu-->

<div id="sidebar"> 
<a href="#" class="visible-phone"><i class="icon icon-th"></i>Tables</a>
  <ul id="sideMenuBar">
    <li><a href=""><i class="icon icon-dashboard"></i> <span>Department</span></a> </li>
  </ul>
  
  
</div>

<div id="content">
  <div id="content-header">
    
    <!-- <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current">Tables</a> </div>
   -->
  </div>
  
  <div class="container-fluid">

    <div class="row-fluid">
      <div class="span12" align="center">

		 <a class="btn btn-warning btn-large" href="#departmentFormModal" data-toggle="modal" >
              Create Department 
         </a> 

        <div class="widget-box">
          
          <div class="">
           
            
       <!-- Form Starts Here -->     
     
      <div id="departmentFormModal" class="modal hide">
        <div class="modal-header">
          
          <button data-dismiss="modal" class="close" type="button">×</button>
          <h3>Department Form</h3>
        </div>
        <div class="modal-body">
          <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
            <h5>Department-info</h5>
          </div>
          <div class="widget-content nopadding">
            <form action="javascript:void(0);" id="departmentForm" method="get" class="form-horizontal">
              <div class="control-group">
                <label class="control-label">Name :</label>
                <div class="controls">
                  <input type="text" name="name" class="span11" placeholder="ex. Computer Engineering" />
                </div>
              </div>
              
            </form>
          </div>
          
        </div>
        <div class="modal-footer"> <a data-dismiss="modal" class="btn btn-primary" onclick="addDepartment()"> Create </a> <a data-dismiss="modal" class="btn" href="#">Cancel</a> </div>
      </div>
      <!-- form Ends Here -->
    
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
<!--Footer-part-->
<div class="row-fluid">
  <div id="footer" class="span12">  </div>
</div>

<input type="hidden" th:value="${adminId}" id="adminId">

<script src="javascripts/path.js"></script> 
<script src="javascripts/CreateDepartment.js"></script>
<script src="PageFunctionality/loader.js"></script>

<script src="javascripts/dialogbox.js"></script> 

<!-- for alert -->
<script src="https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.min.js"></script>


<!--end-Footer-part-->
<script src="js/jquery.min.js"></script> 
<script src="js/jquery.ui.custom.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.uniform.js"></script> 
<script src="js/select2.min.js"></script> 
<script src="js/jquery.dataTables.min.js"></script> 
<script src="js/matrix.js"></script> 
<script src="js/matrix.tables.js"></script>
</body>
</html>
