<!DOCTYPE html>
<html lang="en">
<head>
<title>Attendance Management</title>
<meta charset="UTF-8" >
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="css/matrix-style.css" />
<link rel="stylesheet" href="css/matrix-media.css" />
<link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="css/loader.css" />

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


</head>
<body onload="populateChart(); populateAreaChart();">

<!-- 
<!--Header-part-->
<div id="header">
 <!--  <h2><a href="/dashboard">AM App</a></h2> -->
 
</div>
<!--close-Header-part--> 
 

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Welcome Admin</span></a>
      
    </li>
    
    <li class=""><a title="" href="/login"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
  </ul>
</div>


<!--sidebar-menu-->

<div id="sidebar"> 
<a href="#" class="visible-phone"><i class="icon icon-th"></i>Tables</a>
  <ul id="sideMenuBar">
    <li><a href="/dashboard"><i class="icon icon-dashboard"></i> <span>Dashboard</span></a> </li>
  </ul>
  
</div>
<!-- Side Menu Bar End -->


<div id="content">

  <div id="content-header">
    <!--  <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current">Tables</a> </div>
     -->
 	 <div id="areaChartContainer" style="height: 300px; width: 100%;"></div>
  </div>
 
 <div class="row-fluid container-fluid">
 
  <div class="widget-box widget-plain">
      <div class="center">
        <ul class="stat-boxes2">
          <li>
            <div class="left peity_bar_neutral"><span><span style="display: none;">2,4,9,7,12,10,12</span>
              <canvas width="50" height="24"></canvas>
              </span>+10%</div>
            <div class="right"> <strong>15598</strong> Visits </div>
          </li>
          <li>
            <div class="left peity_line_neutral"><span><span style="display: none;">10,15,8,14,13,10,10,15</span>
              <canvas width="50" height="24"></canvas>
              </span>10%</div>
            <div class="right"> <strong>150</strong> New Users </div>
          </li>
          <li>
            <div class="left peity_bar_bad"><span><span style="display: none;">3,5,6,16,8,10,6</span>
              <canvas width="50" height="24"></canvas>
              </span>-40%</div>
            <div class="right"> <strong>4560</strong> Orders</div>
          </li>
          <li>
            <div class="left peity_line_good"><span><span style="display: none;">12,6,9,23,14,10,17</span>
              <canvas width="50" height="24"></canvas>
              </span>+60%</div>
            <div class="right"> <strong>5672</strong> Active Users </div>
          </li>
          <li>
            <div class="left peity_bar_good"><span>12,6,9,23,14,10,13</span>+30%</div>
            <div class="right"> <strong>2560</strong> Register</div>
          </li>
        </ul>
      </div>
    </div>
 

	 <div class="widget-box">
	 
	 	<div class="widget-content" style="height: 500px; width: 100%;">
	 		
	 		<div class="span6">
              	<div id="chartContainer" style="height: 300px; width: 100%;"></div>
            </div>
            <div class="span6">
              	<div id="chartContainer1" style="height: 300px; width: 100%;"></div>
            </div>
            
            
            
	 	</div>
	 </div>
	  	
</div>
 
 
 
 
  <div class="container-fluid">
  <div class="widget-box">
  		
  		
  		
		<div class="quick-actions_homepage">
		
		  <ul class="quick-actions">
			  <li class="bg_lg span3">
				  <a href="#departmentFormModal" data-toggle="modal">
				  <i class="icon-inbox">
				  </i>
				  +ADD Department
				  </a>
			  </li>
		  </ul>
		  
  		</div>
    
	
    <div class="row-fluid">
    
      <div class="Span12">

        <div class="widget-box">
           

          <div class="widget-content">
            
            
       <!-- Form Starts Here -->     
     
      <div id="departmentFormModal" class="modal hide">
        <div class="modal-header">
          
          <button data-dismiss="modal" class="close" type="button">×</button>
          <h3>Department Form</h3>
        </div>
        <div class="modal-body">
          <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
            <h5>Department-info</h5>
          </div>
          <div class="widget-content nopadding">
            <form action="#" id="departmentForm" method="get" class="form-horizontal">
              <div class="control-group">
                <label class="control-label">Name :</label>
                <div class="controls">
                  <input type="text" name="name" class="span11" placeholder="ex. Computer Engineering" />
                </div>
              </div>
              
            </form>
          </div>
          
        </div>
        <div class="modal-footer"> <a data-dismiss="modal" class="btn btn-primary" onclick="addDepartment()"> Add </a> <a data-dismiss="modal" class="btn" href="#">Cancel</a> </div>
      </div>
      <!-- form Ends Here -->
            
           
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
</div>
<!--Footer-part-->
<div class="row-fluid">
  <div id="footer" class="span12">  </div>
</div>

<script src="PageFunctionality/sideMenuBar.js"></script>
<script src="PageFunctionality/dashboard.js"></script>
<script src="PageFunctionality/loader.js"></script>

<script src="chart/barchart.js"></script>
<script src="chart/areachart.js"></script>

<!--end-Footer-part-->
<script src="js/jquery.min.js"></script> 
<script src="js/jquery.ui.custom.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.uniform.js"></script> 
<script src="js/select2.min.js"></script> 
<script src="js/jquery.dataTables.min.js"></script> 
<script src="js/matrix.js"></script> 
<script src="js/matrix.tables.js"></script>
</body>
</html>
