<!DOCTYPE html>
<html lang="en">
<head>
<title>Attendance Management</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="css/uniform.css" />
<link rel="stylesheet" href="css/select2.css" />
<link rel="stylesheet" href="css/matrix-style.css" />
<link rel="stylesheet" href="css/matrix-media.css" />
<link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="css/loader.css" />

<link href='https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/dialogbox.css" />


</head>
<body onload="onLoadPopulate(); onLoadCreateForms(); onLoadPopulateSideMenuBar()">

<!--Header-part-->
<div >
  <h1 id="header" style="background-image: url('img/logo.png'); background-repeat: no-repeat"><a href="departmentDashboard" ></a></h1>
</div>
<!--close-Header-part--> 


<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Welcome Admin</span></a>
      
    </li>
    
    <li class=""><a title="" href="/login"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
  </ul>
</div>


<!--sidebar-menu-->

<!--start-top-serch
<div id="search">
  <input type="text" placeholder="Search here..."/>
  <button type="submit" class="tip-bottom" title="Search"><i class="icon-search icon-white"></i></button>
</div>
<!--close-top-serch--> 

<!--sidebar-menu-->

<div id="sidebar"> 
<a href="#" class="visible-phone"><i class="icon icon-th"></i>Tables</a>
  <ul id="sideMenuBar">
    <li><a href="departmentDashboard"><i class="icon icon-dashboard"></i> <span>Dashboard</span></a> </li>
    <li><a href="departmentClasses"><i class="icon icon-group"></i> <span>Class Room's</span></a> </li>
    <li><a href="departmentNFCS"><i class="icon icon-bookmark"></i> <span>NFC Tokens</span></a> </li>
    <li><a href="departmentStudents"><i class="icon icon-user"></i> <span>Student</span></a> </li>
    <li><a href="departmentTimeTable"><i class="icon icon-calendar"></i> <span>Time Table</span></a> </li>
    <li><a href="departmentAttendance"><i class="icon icon-hand-right"></i> <span>Check Attendance</span></a> </li>
    <li><a href="departmentMail"><i class="icon icon-envelope-alt"></i> <span>Send Mails</span></a> </li>
 <li><a href="#tutorial" data-toggle="modal" id="showTutorial"><i class="icon-question-sign"></i> <span>Help</span></a></li>
 
  </ul>
  
</div>
<!-- Side Menu Bar End -->
<div id="content">
  <div id="content-header">
    <!-- <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current">Tables</a> </div>
     -->
    <h1>Time Table <i id="department"></i></h1>
  </div>
  <div class="container-fluid">
    
    <div class="row-fluid">
      <div class="span4">
        <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-calendar"></i> </span>
          
          <a class="btn btn-info btn-medium" href="#MONDAYForm" data-toggle="modal" >+Add Monday Lecture</a>

        </div>
        <div class="widget-content nopadding" id="widgetMonday">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
              	<th>Lec No.</th>
                 <th>Timing</th>
                 <th>Monday Lectures</th>
                 <th>Faculty</th>
                 <th>Opr</th>
              </tr>
            </thead>
            <tbody id="monday">
          
            </tbody>
          </table>
        </div>
      </div>
    </div>
      <div class="span4">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-calendar"></i> </span>
            
            <a class="btn btn-info btn-medium" href="#TUESDAYForm" data-toggle="modal">+Add Tuesday Lecture</a>

          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                	<th>Lec No.</th>
                  <th>Timing</th>
                  <th>Tuesday Lectures</th>
                  <th>Faculty</th>
                  <th>Opr</th>
                </tr>
              </thead>
              <tbody id="tuesday">
               
              </tbody>
            </table>
          </div>
        </div>
      </div>
     
      <div class="span4">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-calendar"></i> </span>
            
            <a class="btn btn-info btn-medium" href="#WEDNESDAYForm" data-toggle="modal">+Add Wednesday Lecture</a>

          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                <th>Lec No.</th>
                  <th>Timing</th>
                  <th>Wednesday Lectures</th>
                  <th>Faculty</th>
                  <th>Opr</th>
                </tr>
              </thead>
              <tbody id="wednesday">
               
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="span4">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-calendar"></i> </span>
            
            <a class="btn btn-info btn-medium" href="#THURSDAYForm" data-toggle="modal">+Add Thursday Lecture</a>

          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                <th>Lec No.</th>
                  <th>Timing</th>
                  <th>Thursday Lectures</th>
                  <th>Faculty</th>
                  <th>Opr</th>
                </tr>
              </thead>
              <tbody id="thursday">
               
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="span4">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-calendar"></i> </span>
            
            <a class="btn btn-info btn-medium" href="#FRIDAYForm" data-toggle="modal">+Add Friday Lecture</a>

          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                <th>Lec No.</th>
                  <th>Timing</th>
                  <th>Friday Lectures</th>
                  <th>Faculty</th>
                  <th>Opr</th>
                </tr>
              </thead>
              <tbody id="friday">
                
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="span4">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-calendar"></i> </span>
            
            <a class="btn btn-info btn-medium" href="#SATURDAYForm" data-toggle="modal">+Add Saturday Lecture</a>

          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                <th>Lec No.</th>
                  <th>Timing</th>
                  <th>Saturday Lectures</th>
                  <th>Faculty</th>
                  <th>Opr</th>
                </tr>
              </thead>
              <tbody id="saturday">
                
            
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="span4">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-calendar"></i> </span>
            
            <a class="btn btn-info btn-medium" href="#SUNDAYForm" data-toggle="modal">+Add Sunday Lecture</a>

          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                <th>Lec No.</th>
                  <th>Timing</th>
                  <th>Sunday Lectures</th>
                  <th>Faculty</th>
                  <th>Opr</th>
                </tr>
              </thead>
              <tbody id="sunday">
            
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!--Footer-part-->
<div class="row-fluid">
  <div id="footer" class="span12"></div>
</div>

<input type="hidden" th:value="${departmentId}" id="dId">

<!-- <script src="PageFunctionality/timetableDepartment.js"></script> 
<script src="PageFunctionality/sideMenuBar.js"></script> -->
<script src="PageFunctionality/loader.js"></script>
<script src="PageFunctionality/addLecture.js"></script> 

<script src="javascripts/path.js"></script> 
<script src="javascripts/DepartmentTimeTable.js"></script> 

<script src="javascripts/dialogbox.js"></script> 
<!-- for alert -->
<script src="https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.min.js"></script>

<script src="tutorial/tutorial.js"></script>

<!--end-Footer-part-->
<script src="js/jquery.min.js"></script> 
<script src="js/jquery.ui.custom.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.uniform.js"></script> 
<script src="js/select2.min.js"></script> 
<script src="js/jquery.dataTables.min.js"></script> 
<script src="js/matrix.js"></script> 
<script src="js/matrix.tables.js"></script>
</body>
</html>
