<!DOCTYPE html>
<html lang="en">
<head>
<title>Attendance Management</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="css/uniform.css" />
<link rel="stylesheet" href="css/select2.css" />
<link rel="stylesheet" href="css/matrix-style.css" />
<link rel="stylesheet" href="css/matrix-media.css" />
<link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="css/loader.css" />
<link href='https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/dialogbox.css" />


</head>
<body onload="onLoadPopulate();" >

<!--Header-part-->
<div >
  <h1 id="header" style="background-image: url('img/logo.png'); background-repeat: no-repeat"><a href="departmentDashboard" ></a></h1>
</div>
<!--close-Header-part--> 

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Welcome Admin</span></a>
      
    </li>
    
    <li class=""><a title="" href="/"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
  </ul>
</div>


<!--sidebar-menu-->

<div id="sidebar"> 
<a href="#" class="visible-phone"><i class="icon icon-th"></i>Tables</a>
  <ul id="sideMenuBar">
    <li><a href="departmentDashboard"><i class="icon icon-dashboard"></i> <span>Dashboard</span></a> </li>
    <li><a href="departmentClasses"><i class="icon icon-group"></i> <span>Class Room's</span></a> </li>
    <li><a href="departmentNFCS"><i class="icon icon-bookmark"></i> <span>NFC Tokens</span></a> </li>
    <li><a href="departmentStudents"><i class="icon icon-user"></i> <span>Student</span></a> </li>
    <li><a href="departmentTimeTable"><i class="icon icon-calendar"></i> <span>Time Table</span></a> </li>
    <li><a href="departmentAttendance"><i class="icon icon-hand-right"></i> <span>Check Attendance</span></a> </li>
    <li><a href="departmentMail"><i class="icon icon-envelope-alt"></i> <span>Send Mails</span></a> </li>
 <li><a href="#tutorial" data-toggle="modal" id="showTutorial"><i class="icon-question-sign"></i> <span>Help</span></a></li>
 
  </ul>
  
</div>
<!-- Side Menu Bar End -->

<div id="content">
  <div id="content-header">
    <!--<div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current">Tables</a> </div>
     <h1>Students</h1> -->
		
		
              		  <div class="widget-box widget-plain">
					      <div class="center" align="center">
					        <ul class="stat-boxes2">
					          
					          <li>
					            <div class="left peity_line_good"><span><i style="font-size: 30px" class="icon icon-tags"></i>
					              
					              </span></div>
					            <div class="right"> <strong id="nfcAssigned">0</strong>Assigned NFC  </div>
					          </li>
					         
					         
					          <li>
					            <div class="left peity_line_good"><span><i style="font-size: 30px" class="icon icon-tags"></i>
					              
					              </span></div>
					            <div class="right"> <strong id="nfcUnassigned">0</strong>Unassigned NFC </div>
					          </li>
					         
					         
					         
					        </ul>
					      </div>
					    </div>


  </div>
  <div class="container-fluid">




    <div class="row-fluid">
      <div class="span12">

		<div>
        	<a class="btn btn-warning btn-large" href="#studentFormModal" data-toggle="modal"> + Add Token</a> 
        </div>
                
         <!-- Form Starts Here -->     
	      <div id="studentFormModal" class="modal hide">
	        <div class="modal-header">
	          
	          <button data-dismiss="modal" class="close" type="button">×</button>
	          <h3>RFID Form</h3>
	        </div>
	        <div class="modal-body">
	          <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
	            <h5>Token-info</h5>
	          </div>
	          <div class="widget-content nopadding">
	            <form action="#" id="rfidForm" method="get" class="form-horizontal">
	              
	              <div class="control-group">
	                <label class="control-label">Token value:</label>
	                <div class="controls">
	                  <input type="text" name="rfid" pattern="[A-Z0-9]{8}" class="span11" placeholder="ex. bdvjkbfjkbvk" />
	                </div>
	              </div>
	              
	            </form>
	          </div>
	          
	        </div>
	        <div class="modal-footer"> <a data-dismiss="modal" class="btn btn-primary" onclick="addRFID()"> Add </a> <a data-dismiss="modal" class="btn" href="#">Cancel</a> </div>
	      </div>
	      <!-- form Ends Here -->
        
                
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-bookmark"></i></span>
            <h5>RFID Table</h5>
             <div id="" align="right">
				  <input type="text" id="search" style="width: 50%" placeholder="Search here..." oninput="filter('search', 'rfidTable')"/>
			</div>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered" id="rfidTable"><!-- data-table -->
              <thead>
                <tr>
                  <th>Sr no.</th>
                  <th>Token Value</th>
                  <th>Assigned</th>
                  <th>Operation</th>
                </tr>
              </thead>
              <tbody id="rfids">
                <!-- 
                <tr class="gradeX">
                  <td>1</td>
                  <td>1</td>
                  <td>Dharmik Jayesh Joshi</td>
                  <td class="center">Comps</td>
                  <td class="center">(M)</td>
                  <td class="center">IN</td>
                  <td class="center">
                    <a class="btn btn-success btn-small" href="">
                      Expand
                    </a> 
                  </td>
                </tr>
                <tr class="gradeX">
                  <td>2</td>
                  <td>2</td>
                  <td>Shreeya Sharma</td>
                  <td class="center">Comps</td>
                  <td class="center">(F)</td>
                  <td class="center">IN</td>
                  <td class="center">
                    <a class="btn btn-success btn-small" href="">
                      Expand
                    </a> 
                  </td>
                </tr>
                <tr class="gradeX">
                  <td>3</td>
                  <td>3</td>
                  <td>Dhruv Pualsa</td>
                  <td class="center">IT</td>
                  <td class="center">(M)</td>
                  <td class="center">OUT</td>
                  <td class="center">
                    <a class="btn btn-success btn-small" href="">
                      Expand
                    </a> 
                  </td>
                </tr>
                </tbody>
                 -->
            </table>
          </div>
           <div class="pagination alternate" align="center">
		          <ul>
			          <li><button id="prev" onclick="prevPage()"> << prev</button></li>
			          
			          <li><button id="next" onclick="nextPage()">next >></button></li>
		          </ul>
	      </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!--Footer-part-->
<div class="row-fluid">
  <div id="footer" class="span12">  </div>
</div>

<input type="hidden" th:value="${departmentId}" id="dId">
<input type="hidden" th:value="${pageSize}" id="pageSize">
<input type="hidden" th:value="${currentPage}" id="currentPage">

<!-- <script src="PageFunctionality/rfid.js"></script> -->
<script src="javascripts/path.js"></script> 
<script src="PageFunctionality/filter.js"></script>
<script src="PageFunctionality/loader.js"></script>
<script src="tutorial/tutorial.js"></script>


 <script src="javascripts/DepartmentNFCS.js"></script>
<script src="javascripts/dialogbox.js"></script> 
<!-- for alert -->
<script src="https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.min.js"></script>

<!--end-Footer-part-->
<script src="js/jquery.min.js"></script> 
<script src="js/jquery.ui.custom.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.uniform.js"></script> 
<script src="js/select2.min.js"></script> 
<script src="js/jquery.dataTables.min.js"></script> 
<script src="js/matrix.js"></script> 
<script src="js/matrix.tables.js"></script>
</body>
</html>
