<!DOCTYPE html>
<html lang="en">
<head>
<title>Attendance Management</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
<!-- <link rel="stylesheet" href="css/uniform.css" /> -->
<!-- <link rel="stylesheet" href="css/select2.css" /> -->
<link rel="stylesheet" href="css/matrix-style.css" />
<link rel="stylesheet" href="css/matrix-media.css" />
<link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="css/loader.css" />
<link rel="stylesheet" href="css/loader.css" />

</head>
<body onload="onLoadPopulate(); onLoadPopulateSideMenuBar()" >

<!--Header-part-->
<div >
  <h1 id="header" style="background-image: url('img/logo.png'); background-repeat: no-repeat"><a href="departmentDashboard" ></a></h1>
</div>
<!--close-Header-part--> 

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Welcome Admin</span></a>
      
    </li>
    
    <li class=""><a title="" href="/"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
  </ul>
</div>


<!--sidebar-menu-->

<div id="sidebar"> 
<a href="#" class="visible-phone"><i class="icon icon-th"></i>Tables</a>
  <ul id="sideMenuBar">
    <li><a href="/dashboard"><i class="icon icon-dashboard"></i> <span>Dashboard</span></a> </li>
  </ul>
  
</div>
<!-- Side Menu Bar End -->

<div id="content">
  <div id="content-header">
    <!--<div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current">Tables</a> </div>
     <h1>Students</h1> -->
  </div>
  <div class="container-fluid">

    <div class="row-fluid">
      <div class="span12">

   
   <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-signal"></i> </span>
      	   <h5>Filter Table</h5>
        
          </div>

        <div class="widget-content">
          
          <form action="javascript:void(0);" id="filterForm" class="form-horizontal" onsubmit="findAverageAttendanceOfMonth()">
            
            <div class="control-group">
              <label class="control-label">Select Month</label>
              <div class="controls">
                <select id="month" name="month">
                 	<option value="">--Select Month--</option>
                 	<option value="JANUARY">JANUARY</option>
					<option value="FEBRUARY">FEBRUARY</option>
					<option value="MARCH">MARCH</option>
					<option value="APRIL">APRIL</option>
					<option value="MAY">MAY</option>
					<option value="JUNE">JUNE</option>
					<option value="JULY">JULY</option>
					<option value="AUGUST">AUGUST</option>
					<option value="SEPTEMBER">SEPTEMBER</option>
					<option value="OCTOBER">OCTOBER</option>
					<option value="NOVEMBER">NOVEMBER</option>
					<option value="DECEMBER">DECEMBER</option>
                </select>
                
              
              </div>
              
            </div>
            
             <div class="control-group">
              <label class="control-label">Select Year</label>
              <div class="controls">
                <select id="year" name="year">
                 	<option value="2021">2021</option>
					<option value="2022">2022</option>
                </select>
              </div>
            </div>
          
            <div class="form-actions">
              <button class="btn btn-info">Show Attendance</button>
              
              <br>
              <br>
              
              
              <a class="btn btn-primary" onclick="sendAttendance()">Send Attendance To Guardian</a>
              
              
              	<a class="btn btn-danger" href="#mailAlertFormModal" data-toggle="modal" style="border-radius: 25rem">Send Alert</a>
              
              
              	<div align="right">
   					<button class="btn btn-meduim btn-warning" style="border-radius: 25rem" onclick="saveTable('attendanceReport')" >
					<i class="icon-download-alt"> </i> Generate Report
					</button>
			   </div>
              
            </div>

	          <p class="taskStatus alert alert-error">
	            In Order to view students Average Attendance Per Month please select month and click on show attendance
	          </p>

          </form>

        </div>
      </div>
      
      
       <!-- Form Starts Here -->     
	    <div id="mailAlertFormModal" class="modal hide">
	        <div class="modal-header">
	          
	          <button data-dismiss="modal" class="close" type="button">×</button>
	          <h3> Mail Form </h3>
	        </div>
	        <div class="modal-body">
	         
	          <div class="widget-content nopadding">
	            <form id="mailForm" method="get" class="form-horizontal">
	              
	              <div class="control-group">
	                <label class="control-label">Enter Minimum Attendance :</label>
	                <div class="controls">
	                  <input type="number" name="minAttendance" class="span11" min="1" max="2" value="0" placeholder="ex. 75" />
	                </div>
	              </div>
	              
	              <p class="alert alert-error">
		          	You have to Enter the Minimum Attendance Value Here!!
		          	System will Send Alert Mails to those students whose average attendance is less than provided!!
		          	
		          </p>
	              
	            </form>
	          </div>
	          
	        </div>
	        <div class="modal-footer"> <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary" id="buttonClassForm" onclick="sendAlert()"> Send Alert </a> <a data-dismiss="modal" class="btn" href="#">Cancel</a> </div>
	      </div>
	      <!-- form Ends Here -->
      
   
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>Attendance table</h5>
            
         
            	<div id="" align="right">
				  <input type="text" id="search" style="width: 50%" placeholder="Search here..." oninput="filter('search', 'attendanceReport')"/>
				</div>
      	 
           
            
          </div>
          <div class="widget-content nopadding">
          
            <table class="table table-bordered" id="attendanceReport"><!-- data-table -->
              <thead>
                <tr>
                  <th>Sr no.</th>
                  <th>Roll no.</th>
                  <th>Name</th>
                  <th>Lecture Attended</th>
                  <th>Lecture Taken</th>
                  <th>Average Attendance</th>
                </tr>
              </thead>
              <tbody id="students">
                <!-- 
                <tr class="gradeX">
                  <td>1</td>
                  <td>1</td>
                  <td>Dharmik Jayesh Joshi</td>
                  <td class="center">Comps</td>
                  <td class="center">(M)</td>
                  <td class="center">IN</td>
                  <td class="center">
                    <a class="btn btn-success btn-small" href="">
                      Expand
                    </a> 
                  </td>
                </tr>
                <tr class="gradeX">
                  <td>2</td>
                  <td>2</td>
                  <td>Shreeya Sharma</td>
                  <td class="center">Comps</td>
                  <td class="center">(F)</td>
                  <td class="center">IN</td>
                  <td class="center">
                    <a class="btn btn-success btn-small" href="">
                      Expand
                    </a> 
                  </td>
                </tr>
                <tr class="gradeX">
                  <td>3</td>
                  <td>3</td>
                  <td>Dhruv Pualsa</td>
                  <td class="center">IT</td>
                  <td class="center">(M)</td>
                  <td class="center">OUT</td>
                  <td class="center">
                    <a class="btn btn-success btn-small" href="">
                      Expand
                    </a> 
                  </td>
                </tr>
                </tbody>
                 -->
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- <div class='modal-container'>
	<div class="modal-content">
	   <h1 class='modal-title'>Wait for response</h1>
	   <span class='modal-loader'></span>
	   <p class='modal-msg'>System is sending mails to students!!</p>
	</div>
	
</div>
 -->
<!--Footer-part-->
<div class="row-fluid">
  <div id="footer" class="span12">  </div>
</div>

<input type="hidden" th:value="${departmentId}" id="dId">


<script src="PageFunctionality/studentAverageAttendance.js"></script>
<script src="PageFunctionality/sideMenuBar.js"></script>
<script src="PageFunctionality/filter.js"></script>

<script src="PageFunctionality/loader.js"></script>

<script src="javascripts/path.js"></script> 
<!-- to convert Table to PDF -->
<script src="PageFunctionality/attendanceToPdf.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<!-- to convert Table to PDF -->

<script src="tutorial/tutorial.js"></script>

<!--end-Footer-part-->
<script src="js/jquery.min.js"></script> 
<script src="js/jquery.ui.custom.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<!--<script src="js/jquery.uniform.js"></script> 
<script src="js/select2.min.js"></script> 
<script src="js/jquery.dataTables.min.js"></script> 
<script src="js/matrix.tables.js"></script>-->
<script src="js/matrix.js"></script> 

</body>
</html>
