<!DOCTYPE html>
<html lang="en">
<head>
<title>Attendance Management</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="css/uniform.css" />
<link rel="stylesheet" href="css/select2.css" />
<link rel="stylesheet" href="css/matrix-style.css" />
<link rel="stylesheet" href="css/matrix-media.css" />
<link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="css/loader.css" />

</head>
<body onload="onLoadPopulate()">




<div id="content">

  <div id="content-header">
    <h1></h1>
  </div>
  
  <div class="container-fluid">

    <div class="row-fluid">
      <div class="span12">

        <div class="widget-box">
         
          <div class="widget-content">
            <a class="btn btn-warning btn-medium" href="#departmentFormModal" data-toggle="modal" >
              + Add Admin 
            </a> 
            
            
       <!-- Form Starts Here -->     
     
      <div id="departmentFormModal" class="modal hide">
        <div class="modal-header">
          
          <button data-dismiss="modal" class="close" type="button">×</button>
          <h3>Admin Form</h3>
        </div>
        <div class="modal-body">
          <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
            <h5>Admin-info</h5>
          </div>
          <div class="widget-content nopadding">
          
            <form action="javascript:void(0);" id="adminForm" method="get" class="form-horizontal">
            
             <div class="control-group">
                <label class="control-label">Email: </label>
                <div class="controls">
                  <input type="email" name="email" class="span11" />
                </div>
              </div>
            
            
              <div class="control-group">
                <label class="control-label">Username: </label>
                <div class="controls">
                  <input type="text" name="username" class="span11" />
                </div>
              </div>
              
              <div class="control-group">
                <label class="control-label">Password :</label>
                <div class="controls">
                  <input type="password" name="password" class="span11" />
                </div>
              </div>
              
              
            </form>
            
          </div>
          
        </div>
        <div class="modal-footer"> <a data-dismiss="modal" class="btn btn-primary" onclick="addAdmin()"> Add </a> <a data-dismiss="modal" class="btn" href="#">Cancel</a> </div>
      </div>
      <!-- form Ends Here -->
            
            
            <br><br>
            <table class="table table-bordered">
              
              <thead>
                <tr>
                  <th>Sr no.</th>
                  <th>Department</th>
                  <th>Email</th>
                  <th>Username</th>
                  <th>Operations</th>
                </tr>
              </thead>
              <tbody id="admins">
              </tbody>
                
            </table>
          </div>
        </div>
      </div>
    </div>



  </div>

</div>

<script src="PageFunctionality/SuperAdmin.js"></script> 
<script src="javascripts/path.js"></script> 
<!--end-Footer-part-->
<script src="js/jquery.min.js"></script> 
<script src="js/jquery.ui.custom.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.uniform.js"></script> 
<script src="js/select2.min.js"></script> 
<script src="js/jquery.dataTables.min.js"></script> 
<script src="js/matrix.js"></script> 
<script src="js/matrix.tables.js"></script>
</body>
</html>
